{%extends 'base.html' %} {%block title%} Categories{%endblock%} {%block content%}
<h3>Categories</h3>
<div id="wrapper">
    <h1>My Works</h1>
    <div class="toggles">
        <button id="showall">Show All</button>
        <button id="web">Web Design</button>
        <button id="ux">UX Design</button>
        <button id="graphic">Graphic Design</button>
        <button id="motion">Motion Graphic</button>
    </div>

    <div class="posts">
        <div class="motion post">Motion Design</div>
        <div class="web post">Web Design</div>
        <div class="ux post">UX Design</div>
        <div class="graphic post">Graphic Design</div>
        <div class="web post">Web Design</div>
        <div class="ux post">UX Design</div>
        <div class="web post">Web Design</div>
        <div class="motion post">Motion Design</div>
        <div class="graphic post">Graphic Design</div>
    </div>




    {% endblock %}