<link rel="stylesheet" href="path/to/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
<footer class="page-footer bg-primary">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Utkrishta Bharath</h5>
                <p class="grey-text text-lighten-4">Connect with us on social media</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Social Media Handles</h5>
                <ul>
                    <!-- <li><a class="grey-text text-lighten-3" href="#!"><i class="fa-brands fa-instagram"></i></a></li>
                    <li><a class="grey-text text-lighten-3" href="#!"><i class="fa-brands fa-twitter"></i></a></li>
                    <li><a class="grey-text text-lighten-3" href="#!"><i class="fa-brands fa-youtube"></i></a></li>
                    <li><a class="grey-text text-lighten-3" href="#!"><i class="fa-brands fa-facebook"></i></a></li>
                 -->

                    <li>
                        <a class="grey-text text-lighten-3" href="">Instagram</a>
                    </li>
                    <li>
                        <a class="grey-text text-lighten-3" href="">Twitter</a>
                    </li>
                    <li>
                        <a class="grey-text text-lighten-3" href="">Facebook</a>
                    </li>
                    <li>
                        <a class="grey-text text-lighten-3" href="">YouTube</a>
                    </li>
                </ul>

            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2022 Copyright
            <a class="grey-text text-lighten-4 right" href="#!"> <i class="fa-solid fa-link"></i></a>
        </div>
    </div>
</footer>